@import "config";
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


.beerElementBlock{
    @include centeredFlexColumn;
    margin: 10px;
}

.beerContainer{
    @include centerRowFlex;
    flex-wrap: wrap;

}
.headAsk{
    @include centerRowFlex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.paginator{
    @include centeredFlexColumn;
    margin-top: 30px;
    margin-bottom: 30px;
}

.marginTop-Lg{
    margin-top: 60px;
}

.image-height{
    height: 250px;
}
.card{
    position: relative;
}
.add-to-list{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #1d68a7;
    color: white;
    border-radius: 3px;
}
.add-to-list:hover{
    opacity: 0.7;
}
.blockPhrase{
    display: flex;
}

@media (max-width: 800px) {
    .headAsk{
        @include centeredFlexColumn;
        .blockPhrase{
            margin-top: 20px;
        }
    }
}

@media (max-width: 575px) {
  .rateButton{
      margin-top: 15px;
  }

}





