@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
.btn-a:hover {
  background-color: rgba(42, 49, 92, 0.919);
  cursor: pointer;
}

.beerElementBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.beerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.headAsk {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.paginator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.marginTop-Lg {
  margin-top: 60px;
}

.image-height {
  height: 250px;
}

.card {
  position: relative;
}

.add-to-list {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #1d68a7;
  color: white;
  border-radius: 3px;
}

.add-to-list:hover {
  opacity: 0.7;
}


